#pragma once

#define WIFI_SSID     "xxxxx" // Wi-Fi SSID
#define WIFI_PASSWORD "xxxxx" // Wi-Fi パスワード
#define WHISPER_URL   "http://192.168.xx.xx:8080/inference"
#define OLLAMA_URL "http://192.168.xx.xx:11434/api/chat"