#pragma once
#define WIFI_SSID     "YOUR_SSID"
#define WIFI_PASSWORD "YOUR_PASSWORD"
#define WHISPER_URL   "http://192.168.x.x:8080/inference"
#define OLLAMA_URL    "http://192.168.x.x:11434/api/chat"
#define VOICEVOX_BASE "http://192.168.x.x:50021"